:root {
  --fundo-claro: #ffffff; /* Cor de fundo para o modo claro */
  --texto-claro: #000000; /* Cor do texto para o modo claro */
  --fundo-escuro: #000000; /* Cor de fundo para o modo escuro */
  --texto-escuro: #ffffff; /* Cor do texto para o modo escuro */
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: auto;
  font-family: 'poppins', sans-serif;
}

/* Estilos para o modo claro */
body {
  background-image: url(https://i.pinimg.com/originals/48/4b/32/484b325cdb5bdd8bce6d8e3d131fda75.gif);
  background-size: cover;
  color: var(--texto-claro);
  transition: 3s;
}
a button{
  background-color: transparent;
}
/* Estilos para o modo escuro */
body.modo-escuro {
  background-image: url('https://i.pinimg.com/originals/68/31/45/6831454cf213ed7ffa541fe666fa9cf8.gif');
  background-size: cover;
  color: var(--texto-escuro);
  transition: 3s;
}
header.modo-escuro{
  background-color: var(--fundo-escuro);
  color: var(--texto-escuro);
  transition: 3s;
}
nav li {
    list-style: none;
    font-family: 'poppins', sans-serif;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}
nav a {
    position: relative;
    left: 900px;
    padding: 5px;
    color: gray;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: -40px;
    margin-right: 10px;
    font-weight: 200;
    
}
nav a:hover {
    color: orangered;
}
nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: orangered;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
nav a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

ul img {
    position: static;
    height: 100px;
    width: 100px;
    left: -50px;
    transition: 1s;
  }
  ul img:hover{
    filter: opacity(50%);
    transition: 1s;
  }
  
  main {
    padding: 40px;
  }
  .product a {
    color: gray;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    
  }

  .products a {
  text-decoration: none;
  }
  .product {
    width: calc(33.33% - 20px);
    margin-bottom: 0px;
    transition: 1s;
    border: orangered solid 1px;
    background-color: #000000a6;
    padding: 2px;
    
    
  }
  .product img {
    width: 100%;
    height: 200px;
    filter: grayscale(100%);
    object-fit: cover;
    transition: 1s;
    margin-bottom: 10px;

  }
  
  .product h2 {
    font-size: 1.5rem;
    margin-top: 0;
  }
  
  .product p {
    margin-top: 0;
  }
  
  .product button {
    background-color: orangered;
    color: #fff;
    border: none;
    padding: 10px;
    transition: 1s;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .product button:hover {
    opacity: 50%;
    transition: 1s;
  }
  
  footer {
    background-color:black;
    color: #fff;
    height: 43.3px;
    padding: 10px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
/* fontes */
main{
  font-family: 'poppins', sans-serif;
  font-weight: 300;
}
/* Hover */
.product img:nth-child(1n):hover{
  filter: grayscale(0%);
  transform: scale(0.9);
  cursor: pointer;
  box-shadow: 0 0 40px orangered, 0 0 40px orangered, 0 0 40px orangered;
  transition: 1s;
}
/* .product img::after{
  transform: scale(1.1) translateY(-10px);

  clip-path: circle(40px, right 40px);
} */
/* dos Hs (h1, h2 etc) edição */
h1{
  color: orangered;
}
h2{
  color: orangered;
}
/* Edição dos P */
p{
  font-weight: 200;
  color: gray;
}
/* ScrollBarr edição */
::-webkit-scrollbar{
  color: transparent;
  transition: 1s;
  background-color: transparent;
  border: solid transparent 1px;
}
::-webkit-scrollbar-button{
  transition: 1s;
  color: gray;
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  transition: 1s;
  width: 1px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb:hover{
  color:transparent;
  filter: opacity(50%);
  transition: 1s;
  background-color: rgba(62, 48, 48, 0.438);
  border-radius: 5px;
  width: 1px;
  
}
::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
transition: 1s;
background-color: transparent;
}

::-webkit-scrollbar {
width: 6px;
transition: 1s;
background-color: transparent;
}

.lua{
  border: none;
}