/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    padding: 20px;
    color: #fff;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    padding: 10px;
    color: #fff;
    text-align: center;
  }
  
  /* Estilos para os produtos */
  #products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product {
    width: 250px;
    margin: 20px;
    transition: 1s;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  .product:hover{
    transform: scale(1.1) translateY(-10px);
  transition: 1s;
  }
  
  .product img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  .price {
    font-weight: bold;
  }
  
  .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #555;
  }
  
  /* Outros estilos podem ser adicionados conforme necessário */